# 1. Copy this to ~/.config/systemd/user/xkeysnail.service
# 2. systemctl --user enable xkeysnail
#
# Note that you need to set proper $DISPLAY on your environment.

[Unit]
Description=xkeysnail

[Service]
KillMode=process
ExecStart=/usr/local/bin/xkeysnail /etc/opt/xkeysnail/config.py >> /home/basd4g/.xkeysnail.log 2>&1
#ExecStart=/bin/bash /home/basd4g/test.sh
#ExecStartPre=xhost +SI:localuser:xkeysnail
Type=simple
User=xkeysnail
Restart=always

# Update DISPLAY to be the same as `echo $DISPLAY` on your graphical terminal.
Environment=DISPLAY=:1

[Install]
WantedBy=default.target
