# This is Git's per-user configuration file.
[user]
        name = Keisuke Nakayama
        email = baskk4.dt@gmail.com
[filter "lfs"]
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
[push]
        default = current
[core]
	editor = vim
[alias]
        a = add
        c = commit
        d = diff
        l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        diflog = log -p
        s = status --short
        tree = ls-tree -r master --name-only
        alias = "!cat ~/.gitconfig | sed '1,/\\[alias]/d;'"
        als = alias
