# This is Git's per-user configuration file.
[user]
        name = Keisuke Nakayama
        email = me@yammer.jp
[filter "lfs"]
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
[push]
        default = current
[core]
	editor = vim
[alias]
        a = add
        c = "commit -v"
        d = diff
        ds = "diff --staged"
        ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
        pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
        l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        diflog = log -p
        s = status --short
        tree = ls-tree -r master --name-only
        alias = "!cat ~/.gitconfig | sed '1,/\\[alias]/d;'"
        als = alias
        rao = "!sh -c  '[ \"$1\" != \"\" ] && [ \"$2\" != \"\" ] && git remote add origin git@github.com:$1/$2.git' -"
        remote-add-origin =arog
